.head {
    text-align: start;
    padding:2% 0%;
}


.sidebar{
    text-align: start;
}


.gallery_container {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    place-items: center;
    text-align: start;
}


.gallery_container img {
    width: 400px;
    max-width: 92vw;
}




@media screen and (max-width: 1260px) {
    .gallery_container{
        grid-template-rows: repeat(5 1fr);
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
   
}


@media screen and (max-width: 820px){
    .gallery_container{
        grid-template-areas: 'pic1'
                             'pic2'
                             'pic3'
                             'pic4'
                             'pic5'
                             'pic6'
                             'pic7'
                             'pic8'
                             'pic9';
        place-items: center;
        grid-template-columns: 1fr;
    }
}
