#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


.who_we_are_container {
  padding: 40px;
}


.carousel {
  display: flex;
  justify-content: center;
  max-width: 92vw;
  gap: 20px;
  padding: 70px 0 10px 0;
}


.carousel img {
  width: 240px;
  height: 240px;
}


.who_we_are_container hr{
  margin: 50px 0 20px 0;;
}


.section1 img{
  max-width: 145.14px
}


.work_with_us_container {
  padding: 174px 0 200px 0;
}


.purple_flower_image {
  display: flex;
  justify-content: center;
}



